.container {
    width: 100%;
    padding: 0;
    background: url("../images/admin/background_admin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#sidebar {
    border-right: solid #337ab7 1px;
    display: inline-block;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.5s;
    box-shadow: #444 0.1em 0.1em 0.25em;
    overflow: auto;
    text-align: center;
}

.sidebar_big {
    width: 20%;
}

.sidebar_small {
    width: 5%;
}

#sidebar:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.sidebar_label {
    display: none;
}

#nav {
    display: inline-block;
    font-size: 2.25em;
    width: 100%;
}

#icon {
    width: 100%;
}

#icon_div {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: 0.5s;
    min-height: 30%;
}

.icon_div_small {
    width: 0;
}

#nav > .collapse {
    display: none;
}

#nav > .in {
    display: block;
}

#collapse {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 0.75em;
}

#frame_div {
    display: inline-block;
    text-align: center;
    padding: 0;
    transition: 0.5s;
}

.frame_div_big {
    width: 95%;
}

.frame_div_small {
    width: 80%;
}

#frame {
    width: 100%;
    padding: 0;
}

.modal-body {
    font-size: 2em;
}

#download_modal {
    text-align: center;
}

#download_code {
    width: 50%;
    margin-bottom: 1em;
    box-shadow: gray 0.25em 0.25em 0.5em;
}