.container {
    width: 100%;
    padding: 0;
    background: url("../images/background.jpg");
    background-size: cover;
}

#sidebar {
    border-right: solid #337ab7 2px;
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#nav {
    display: inline-block;
    text-align: center;
    font-size: 2em;
    margin-top: 2.5em;
    width: 100%;
}

#icon {
    display: inline-block;
    width: 64%;
}

#nav > .collapse {
    display: none;
}

#nav > .in {
    display: block;
}

#collapse {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 0.75em;
}

#frame_div {
    display: inline-block;
    width: 80%;
}

#frame {
    width: 100%;
}