*
{
    text-shadow: 0 0 1px #999 !important;
}


body{
    font-size: 10px;
}

.modal-title{
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

.btn{
    outline: none !important;
}