*
{
    text-shadow: 0 0 1px #999 !important;
    font-family: "Noto Sans", "思源黑体", "微软雅黑", sans-serif;
}

html, body {
    font-size: 10px;
    background: transparent;
}

.modal-title{
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

.btn{
    outline: none !important;
}