* {
    font-family: "Noto Sans", "思源黑体", "微软雅黑", sans-serif;
}

body {
    font-size: 8px;
    background: transparent;
    overflow: hidden;
    display: none;
}

.modal-title {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

.btn {
    outline: none !important;
}

.alert, .btn {
    box-shadow: #444 0.1em 0.1em 0.2em !important;
}

.alert {
    opacity: 0.75;
    font-size: 1.25em;
}

.modal-content, .modal-content input {
    background: rgba(255, 255, 255, 0.75);
    transition: 0.25s;
}

.modal-content input:hover, .modal-content input:focus {
    background: rgba(255, 255, 255, 1);
}