.panel {
    font-size: 2.25em;
    border-radius: 0.75em;
    cursor: default;
    box-shadow: #444 0.2em 0.2em 0.5em;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.panel-heading {
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    background-color: rgba(51, 122, 183, 1) !important;
    color: white !important;
}

.panel-title {
    font-size: 1em;
}

.container {
    margin-top: 2em !important;
    width: 95%;
}

th {
    background-color: #337ab7;
    color: white;
    transition: 0.2s;
}

tr:hover {
    background-color: #337ab7;
    color: white;
}

th, td {
    text-align: center;
    vertical-align: middle !important;
}

#error_modal .alert {
    font-size: 2.2em !important;
}