.container {
    font-size: 2.25em;
    border: outset 1px #337ab7;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1.5em 1em;
    cursor: default;
    transition: 0.5s;
    box-shadow: #444 0.2em 0.2em 0.5em;
}

.container:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

html, body {
    overflow: hidden;
}