html, body {
    background: url("../images/background_index.jpg");
    background-size: cover;
    overflow: hidden;
}

#icon {
    width: 10em;
    margin-bottom: 4.5em;
    margin-right: 1.5em;
}

.well {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: #444 0.5em 0.5em 0.75em;
    transition: 0.5s;
    padding-bottom: 5em;
}

.well:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

h1{
    font-weight: bolder;
    cursor: default;
    display: inline-block;
}


.index_btn{
    display: inline-block;
    margin-right: 1em;
    margin-top: 1.5em;
    transition: 0.5s;
}

.modal-body>input{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1em;
    width: 20em !important;
    height: 3em !important;
}

.modal-body{
    font-size: 2em;
}

#verification_code_div{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 28em !important;
    height: 3em !important;
}

#verification_code{
    width: 8em;
    height: 3em;
    display: inline-block;
    margin-right: 3.7em;
}

#verification_code_btn{
    display: inline-block;
    height: 3em;
    width: 8em;
}

.modal .alert {
    margin-left:auto;
    margin-right:auto;
    width: 12em !important;
    text-align: center;
    transition: 0.5s;
    margin-bottom: 0.5em;
    font-size: 0.75em;

}

.modal .alert-danger {
    cursor: default;
    opacity: 0;
}

.container .alert {
    font-size: 2em;
    cursor: default;
}

#download_modal{
    text-align: center;
}

#download_code{
    width: 50%;
    margin-bottom: 1em;
    box-shadow: gray 0.25em 0.25em 0.5em;
}

#login_modal input{
    font-size: 1em;
}