#username, #work_place {
    display: inline-block;
    height: 2em;
    vertical-align: baseline;
}

.modal .alert {
    font-size: 1.5em;
    margin-top: 1em;
}

#modify_username_btn, #modify_work_place_btn, #modify_password_btn {
    float: right;
    margin-top: -0.25em;
}

#user_info p {
    padding: 0.5em 1em;
    line-height: 2em;
}

.no_hover_effect:hover{
    background: transparent !important;
}

#modify_password_modal_body>input{
    margin-top: 1em;
}