.modal-body {
    overflow-y: auto;
}

#add_modal_table, #modify_modal_table {
    display: table;
    margin: auto 2em;
}

.modal_row {
    display: table-row;
}

.modal_cell {
    display: table-cell;
    padding-left: 3.25em;
    padding-right: 3.25em;
    padding-top: 1em;
}

.image {
    width: 10em;
}

.modal input[type=checkbox] {
    display: none;
}

#package_management_panel_body {
    overflow: auto;
}

.tip {
    text-align: left;
    display: inline-block;
    width: 18em;
    margin-bottom: 0;
    float: left;
    margin-left: 3.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.pack_info_input {
    display: inline-block;
    height: 3em;
}

.pack_name_input {
    width: 18em;
}

.pack_note_input {
    width: 34em;
}

.pack_info_input_div {
    text-align: center;
}

#pack_note_input, #new_pack_note_input {
    margin-left: 2em;
}

#package_management_table {
    font-size: 0.75em;
}

.modal_cell .picture_time_input {
    width: 5em;
    text-align: center;
    height: 2em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    opacity: 0;
}

.picture_div {
    display: inline-block;
    background-size: cover;
    background-position: center center;
}

.plus_screen {
    float: left;
}

.minus_screen {
    float: right;
}

#package_management_table button {
    padding: 0.5em 1em;
    font-size: 0.5em;
    border-radius: 0.5em;
    opacity: 0;
    transition: 0.25s;
}

.screens {
    display: inline-block;
    width: 18em;
    overflow-x: auto;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}

#screen_col {
    width: 25em;
}

#screen_modal_body {
    font-size: 2em;
    text-align: center;
}

#screen_modal_body .alert {
    font-size: 0.9em;
}

#modify_multiple_modal_content {
    width: 71em;
}