.modal-body {
    overflow-y: auto;
}

#add_modal_table, #modify_modal_table {
    display: table;
    margin: auto 2em;
}

.add_modal_row {
    display: table-row;
}

.add_modal_cell {
    display: table-cell;
    padding-left: 3.25em;
    padding-right: 3.25em;
    padding-top: 1em;
}

.image {
    width: 10em;
}

input[type=checkbox] {
    display: none;
}

label {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#package_management_panel_body {
    overflow: auto;
}

.tip {
    text-align: left;
    display: inline-block;
    width: 18em;
    margin-bottom: 0;
}

.input {
    display: inline-block;
    width: 17em;
    height: 3em;
    margin-top: 0.5em;
    margin-left: 4em;
    margin-right: 5em;
}

#package_management_table {
    font-size: 0.75em;
}

.picture_time_input {
    width: 5.8em;
    text-align: center;
    height: 2em;
    margin-top: 0.5em;
}