.checkbox-inline {
    width: 1em;
    height: 1em;
    margin: 0 !important;
}

#buttons {
    position: fixed;
    padding: 1em 2.5em;
    right: 0;
    bottom: 5em;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.6;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    transition: 0.5s;
    box-shadow: #444 0.2em 0.2em 0.5em;
}

#buttons:hover {
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 1;
}

#buttons > button {
    font-size: 2em;
    padding: 0.5em 1.5em;
    margin-left: 0.5em;
}

.modal_input {
    margin: 1em 0;
    padding: 1em 0.5em;
    font-size: 2em;
}

#del_warning {
    color: red;
    font-size: 2.25em;
}

.alert {
    font-size: 1.5em;
}

#screen_info_panel_body {
    overflow: auto;
}

#screen_table {
    font-size: 0.75em;
}