* {
    font-family: "Noto Sans","Noto Sans CJK", "思源黑体", sans-serif;
}

@keyframes body {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

body {
    font-size: 8px;
    background: transparent;
    user-select: none;
    animation: body 0.5s;
    overflow-y: hidden;
}

.modal-title {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

.btn {
    outline: none !important;
}

.alert, .btn {
    box-shadow: #444 0.1em 0.1em 0.2em !important;
}

.alert {
    opacity: 0.75;
    font-size: 1.25em;
}

.modal-content, .modal-content input {
    background: rgba(255, 255, 255, 0.75);
    transition: 0.25s;
}

.modal-content input:hover, .modal-content input:focus {
    background: rgba(255, 255, 255, 1);
}

.sortable_th{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

.random{
    background-image: linear-gradient(transparent,transparent),url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="9" viewBox="0 0 21 9" fill="#FFF"> <path d="M14.5 5l-4 4-4-4zM14.5 4l-4-4-4 4z"/> </svg>');
}

.up{
    background-image: linear-gradient(transparent,transparent),url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="4" viewBox="0 0 21 4" fill="#FFF"> <path d="M6.5 4l4-4 4 4z"/> </svg>');
}

.down{
    background-image: linear-gradient(transparent,transparent),url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="4" viewBox="0 0 21 4" fill="#FFF"> <path d="M14.5 0l-4 4-4-4z"/> </svg>');
}

@keyframes notification {
    0% {
        height: 0
    }
    15% {
        height: 7.5%;
    }
}

.notification {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 7.5%;
    background-color: gray;
    animation: notification 1s alternate infinite;
}

.top-notification {
    top: 0;
}

.bottom-notification {
    bottom: 0;
}

@keyframes notification-inner {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}

.notification-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    animation: notification-inner 1s alternate infinite;
}

.notification-success {
    color: #3c763d;
    background-color: #dff0d8;
    border: #d6e9c6 1px solid;
}

.notification-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.notification-failure, .notification-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
