#upload_input {
    opacity: 0;
    display: inline-block;
    width: 7.6em;
    height: 3.5em;
    position: relative;
    left: 8.075em;
    bottom: 0.25em;
}

#file_btn, #upload_btn {
    width: 6em;
}

#btn_div {
    text-align: right;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
}

#upload_progress {
    height: 1.5em;
}

#upload_btn {
    display: inline-block;
}

#upload_panel_body .alert {
    display: inline-block;
    clear: both;
    width: 12.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-top: 1em;
    font-size: 0.75em;
}

#file_info_modal_body {
    overflow-y: scroll;
}